<%- include('../partials/head.ejs')  %>

<%- include('../partials/nav.ejs')  %>
<%- include('../partials/bg.ejs')  %>

<div class="container mt-5">
    <h1 class="text-about mb-5">About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis minus, dignissimos omnis vitae velit repellendus magni in, temporibus exercitationem 
        consequatur nisi iusto? Aut suscipit rem, natus nihil fuga minus assumenda?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis explicabo quam, enim dolore quaerat provident optio at ipsam modi consequuntur
             repellendus sunt perferendis! Adipisci mollitia eum veritatis aliquam. Nulla, ad.</p>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi et in vitae recusandae atque repellat asperiores tempora debitis distinctio, 
                 error, aspernatur veniam at! Maiores autem voluptates officiis porro, rerum quaerat.</p>
</div>


<%- include('../partials/footer.ejs')  %>